[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "public"]
	path = public
	url = git@github.com:JanStevens/JanStevens.github.io.git
	branch = master
